.feature-box{
    background-color: rgba($color-white,0.8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    font-size: 1.5rem;
    transition: all .2s;
    backface-visibility: hidden;

    &:hover{
        box-shadow: 0 2.5rem 5rem rgba($color-black, 0.4); 
        transform: translateY(-1.5rem) scale(1.02);
        backface-visibility: hidden;
    }

    &__icon{
        background-image: linear-gradient(to right,
        $color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 6rem;
    }
}