.u-margin-bottom-huge{
    margin-bottom: 10rem;
}

.u-margin-bottom-lg{
    margin-bottom: 8rem;
}
.u-margin-bottom-md{
    margin-bottom: 4rem;
}
.u-margin-bottom-sm{
    margin-bottom: 1.5rem;
}

.u-align-center{
    text-align: center;
}

